/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(4,3,5,1) 90px, rgba(10,10,10,1) 110px, rgba(20,20,20,1) 130px,rgba(30,30,30,1) 150px
  , rgba(40,40,40,1) 170px, rgba(50,50,50,1) 190px, rgba(60,60,60,1) 230px);
  margin: 0;
  padding: 0;
}

/*=========== GLOBAL ==============*/
a, a:hover {
  text-decoration: none !important;
}
.simple-link {
  text-decoration: none !important;
  color: #000;
}

/*-- Fonts --*/
.inconsolata-font {
  font-family: 'Inconsolata';
}
.montserrat-font {
  font-family: 'Montserrat';
}
.roboto-font {
  font-family: 'Roboto';
}

.open-sans-font {
  font-family: 'Open Sans';
}

/*-- Socials Footer --*/
.twitter a,
.instagram a,
.linkedin a,
.discord a,
.github a {
  color: #fff;
  display:inline-block;
}
.twitter a:hover {
  color: #00acee;
}
/* https://stackoverflow.com/questions/38507734/fontawesome-instagram-icon-colorized */
.instagram a:hover {
  color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
}
.linkedin a:hover {
  color: #2477ab;
}
.discord a:hover {
  color: #7289da;
}
.github a:hover {
  color: #fff;
  opacity: .9;
}

/*-- Title Underline --*/
.title-underline {
  margin: 0 auto 1rem auto;
  width: 9rem;
  height: .1rem;
  background-color: #d3d3d3;
}


/*-- Maroon Links --*/
a.maroon-link {
  color: #de3c3c;
}
a:hover.maroon-link {
  color: #fff;

  text-decoration: none;
}

/*-- Nav Scrolling Offset --*/
.offset:before {
  content: "";
  display: block;
  height: 0rem;
  margin-top: -8rem;
}

/*-- Backgrounds/Text--*/ 
.bg-black {
  background: #000;
}
.bg-white {
  background: #fff;
}
.white-faded-shadow {
  text-shadow: 4px 3px 2px rgb(255,255,255,.2);
}
.border-maroon {
    margin: 0 auto;
    width:80%;
    border-top: .3rem solid #bf2121;
}
.border-purple {
    margin: 0 auto;
    border-top: .3rem solid #812990;
}

/*============NAVBAR===============*/
.navbar {
  font-family: 'Inconsolata';
  width: 100%;
  background-color: #000;
  position: relative;
}
.navbar .nav-link {
  color: #fff;
  font-size: 25px;
  font-weight: 400;
  position: relative;
  opacity: .70;
  padding: 16px 0;
  margin: 0 10px;
}
.nav-link::before {
  transition: 300ms;
  height: 3px;
  content: "";
  position: absolute;
  background-color: #fff;
}
.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: #fff;
  opacity: 1;
  text-decoration: none;
}
.nav-link-fade-up::before {
  width: 100%;
  bottom: 4px;
  opacity: 0;
}
.nav-link-fade-up:hover::before {
  bottom: 10px;
  opacity: 1;
}
.nav-link-fade-up-active:before {
  bottom: 10px;
  opacity: 1;
}
.navbar .navbar-brand {
  width: 70px;
  padding: 0;
  margin: 0;
}
.navbar .navbar-brand-title {
  color: #fff;
  font-size: 43px;
  font-weight: 500;
}

/*============LANDING PAGE===============*/
/*-- Particles --*/
#particles-js {
  background: #000;
  height: 100vh;
}

/*-- welcome title --*/
.caption {
  width: 100vw;
  position: absolute;
  top: 20%;
  z-index: 1;
  font-family: 'Inconsolata';
}
.caption h1 {
  font-size: 4.5rem;
  letter-spacing: .3rem;
  padding: 0;
  margin: 0;
}
.caption h3 {
  font-size: 3.5rem;
  padding-bottom: 1rem;
}
.logo-bounce {
  animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  -moz-animation: bounce 2s infinite;
}
.fa-circle {
  color: #000;
}
.btn-lg {
  margin-top: 15px;
}

/*============= ABOUT PAGE =============*/
.about-title-underline { 
  width: 12rem;
}
.card:hover.about {
  transform: scale(.95);
}

/*-- Social Links --*/
.social-media {
  display: inline-block;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}
ul.social-media li {
  display: inline;
  margin: 0 7px;
}
a .fa-linkedin.about {
  color: #0077B5;
}
a:hover .fa-linkedin.about {
  color: #0054B5;
}
a .fa-github-square.about {
  color: #211F1F
}
a:hover .fa-github-square.about {
  color: black;
}
a .fa-envelope.about {
  color: darkslategrey;
}
a:hover .fa-envelope.about {
  color: black;
}
a .fa-link.about {
  color: grey;
}
a:hover .fa-link.about {
  color: darkslategrey;
}
.alumni-table {
  background: transparent;
  font-family: 'Inconsolata';
  border: none;
}
.alumni-table th, .alumni-table tr, .alumni-table tr {
  color: #fff;
  border-top: none !important;
}
.alumni-table th {
  font-size: 2rem;
  border-bottom: .2rem solid white !important;
}
.alumni-table tr {
  font-size: 1.2rem;
}

/*============= CALENDAR PAGE =============*/
/* Responsive iFrame */
.responsive-iframe-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
 
.responsive-iframe-container iframe,   
.vresponsive-iframe-container object,  
.vresponsive-iframe-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*============= EVENT PAGE =============*/
.events-title-underline {
  width: 440px;
}

/*============= PARTNERS PAGE =============*/
.card-partners-left {
  width: 18rem;
  height:250px;
  margin: 0 0 2em auto;
}
.card-partners-right {
  width: 18rem;
  height:250px;
  margin: 0 auto 2em 0;
}
.card-partners-middle {
  width: 18rem;
  height:250px;
  margin: 0 auto;
  margin-bottom: 2em;
}
.card-partners-img {
  margin: auto auto;
}
.partners-title-underline {
  width: 18rem;
}
.card:hover.events {
  transform: scale(.97);
  opacity: .7;
}

/*============= REDHAT PAGE =============*/
.rha-email {
  text-decoration: none;
  color: #de3c3c;
}
.rha-email:hover {
  text-decoration: none;
  color: #de3c3c;
}
.rha-link {
  text-decoration: none;
  color: #de3c3c;
}
.rha-link:hover {
  text-decoration: none;
  color: #de3c3c;
}

/*============= WICYS PAGE =============*/

/*============= LOGIN PAGE =============*/
.btn-google {
  background: rgb(253, 245, 242) !important;
  border: 1px solid rgb(190, 86, 67) !important;
}
.btn-google:hover {
  background: rgb(225, 98, 89) !important;
}
.accounts a {
  color: #fff;
  text-decoration: none;
}
.accounts a:hover {
  color: #3590ae;
  text-decoration: none;
}

/*============= MEDIA QUERIES =============*/
/* Change navbar styling on viewports > xl */
@media (min-width: 1199.98px) {
  .navbar-expand-xl {
    background-color: #000;
  }
  .text-right-xl {
    text-align: right;
  }
  .text-left-xl {
    text-align: left;
  }
}

/* Change navbar styling on viewports < xl */
@media (max-width: 1199.98px) {
  /*============CSS===============*/
  .pb3-xl-less {
    padding-bottom: 1rem;
  }
  /*============NAVBAR===============*/
  .navbar {
    background: #000;
    text-align: center;
  }
  .navbar .navbar-brand, .navbar .nav-link {
    color: #fff;
    text-align: left;
  }
  .nav-link-fade-up::before {
    width: 100px;
    bottom: 4px;
    opacity: 0;
  }
  .nav-link-fade-up-active:before {
    bottom: 10px;
    opacity: 1;
  }
}

/* Devices under 992px (lg) */
@media (max-width: 991.98px) {
  .navbar .navbar-brand-title {
    display: none !important;
  }
  .caption {
    top: 25%;
  }
  .caption h1 {
    font-size: 6rem;
    letter-spacing: .2rem;
    padding-bottom: .6rem;
  }
  .caption h3 {
    font-size: 4rem;
    padding-bottom: 1.7rem;
  }

  /* make all horizontal fadeIn up on mobile */
  .fadeInLeft {
    animation-name: fadeInUp !important;
  }
  .fadeInRight {
    animation-name: fadeInUp !important;
  }
}

/* Md devices - under 768px */
@media (max-width: 767.98px) {
  .caption {
    top: 23%;
  }
  .caption h1 {
    font-size: 5rem;
    letter-spacing: .15rem;
    padding-bottom: .5rem;
  }
  .caption h3 {
    font-size: 3rem;
    padding-bottom: 1.2rem;
  }
  .responsive-iframe-container {
    padding-bottom: 400px;
  }
  .card-partners-left {
    margin: 0 auto 2rem auto;
  }
  .card-partners-right {
    margin: 0 auto 2rem auto;
  }
}

/* Sm devices - under 576px */
@media (max-width: 575.98px) {
  .caption {
    top: 20%;
  }
  .caption h1 {
    font-size: 4em;
    letter-spacing: .1rem;
    padding-bottom: .5rem;
  }
  .caption h3 {
    font-size: 2.7rem;
    padding-bottom: .5rem;
  }
  .events-title-underline {
    width: 100%;
  }
}