---
import Base from "../layouts/Base.astro";
import Title from "../components/Title.astro";
import Subtitle from "../components/Subtitle.astro";
import Paragraph from "../components/Paragraph.astro";
import Container from "../components/Container.astro";
import ActivityLogo from "../components/ActivityLogo.astro";
import MemberCard, {
	type Props as MemberCardProps,
} from "../components/MemberCard.astro";

import awsAcademy from "../images/programs/aws/aws-academy.png";
import awsLogo from "../images/programs/aws/aws.png";

const leads: MemberCardProps[] = [
	{
		name: "Luke Laudeman",
		position: "AWS Academy Student Ambassador",
		major: "INTA",
		year: 27,
		socials: {
			email: "luke123@tamu.edu",
		},
	},
];

// TODO - don't hardcode the discord invite
---

<Base>
	<Container>
		<Title title="AWS Academy" />
		<ActivityLogo image={awsAcademy.src} />

		<Subtitle subtitle="About" />
		<Paragraph>
			Amazon Web Services is the largest cloud platform in the world.
			Through an extensive array of services ranging from databases and
			virtual machines to security and AI training, AWS provides high
			quality, highly available cloud services all throughout the world.
			<br /><br />
			The Cybersecurity Club offers a comprehensive lesson plan covering all
			of the fundamental topics required for the Cloud Practitioner Exam. The
			course covers a handful of essential services offered by AWS, how to
			use them, and prepares you to take your exam.
		</Paragraph>

		<Subtitle subtitle="Academy Program" />
		<Paragraph>
			The TAMU Cybersecurity Center has partnered with AWS to bring
			courses and certifications to students for free! AWS Academy offers
			a variety of certifications for a wide array of fields. From the
			Foundational Cloud Practitioner, to the Specialty Advanced
			Networking or Security certificates, AWS Academy's qualifications
			allow you to gain real world experience with the largest cloud
			platform in the world.
		</Paragraph>

		<Subtitle subtitle="Want to Sign Up?" />
		<Paragraph>
			First, <a
				href="https://tx.ag/AWSSpring25"
				target="_blank"
				>fill out this form</a
			> to be added to the program. We have weekly meetings on Wednesday nights
			at 8pm. These are announced in the
			<a href="https://discord.gg/rZXZM7EB">#aws-academy</a>
			channel in the Cybersecurity Club Discord server. Reach out to me through
			Discord or my email to sign up for the AWS academy.
		</Paragraph>

		<Title title="Event Calendar" />
		<div class="responsive-iframe-container bg-white rounded mb-4">
			<div
				class="row d-flex align-items-center justify-content-center calendar"
			>
				<iframe
					src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FChicago&showPrint=0&src=dGFtdWF3c2FjYWRlbXlAZ21haWwuY29t&src=NDViYTk4ZTAxN2ExMWViMTMxMTk5MTExZGZmMGZiZTYxYWQxZGJkYjcyNjM4M2I3OWMwNmQ3MTU5YjUwMWZhM0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&color=%23039BE5&color=%23E4C441&color=%230B8043"
					style="border:solid 1px #777"
					width="800"
					height="600"
				></iframe>
			</div>
		</div>

		<img
			id="palo-alto-logo"
			class="mx-auto d-block"
			width="500px"
			src={awsLogo.src}
		/>

		<Title title="AWS Academy Leads" />
		<div class="row d-flex justify-content-center">
			{leads.map((props) => <MemberCard {...props} />)}
		</div>
	</Container>
</Base>
