---
import Base from "@/layouts/Base.astro";
import Title from "@/components/Title.astro";
---

<Base>
	<Title title="Calendar" />

	<!-- Calendar -->
	<!-- responsive-iframe-container http://themeloom.com/2013/02/tips-embed-google-maps-and-calendars-in-a-responsive-wordpress-theme/ -->
	<div
		class="container"
		style=""
	>
		<div class="responsive-iframe-container bg-white">
			<div
				class="row d-flex align-items-center justify-content-center calendar"
			>
				<div class="d-md-none">
					<iframe
						src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FChicago&src=dGFtdWN5YmVyc2VjQGdtYWlsLmNvbQ&src=dm9qcDFyYzlvcGdxbTdyYmpqM2toYXVoaG9AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&src=OWVlZGxyZGZtdGhyNWY3MnBqMWJianV1cjBAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&src=dGFtdXdpY3lzQGdtYWlsLmNvbQ&color=%233F51B5&color=%2333B679&color=%23AD1457&color=%23B39DDB&showTitle=0&showPrint=0&mode=AGENDA"
						style="border: solid 1px #777"
						width="500"
						height="600"
					></iframe>
				</div>
				<div class="d-none d-md-block">
					<iframe
						title="club calendar"
						src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FChicago&src=dGFtdWN5YmVyc2VjQGdtYWlsLmNvbQ&src=dm9qcDFyYzlvcGdxbTdyYmpqM2toYXVoaG9AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&src=OWVlZGxyZGZtdGhyNWY3MnBqMWJianV1cjBAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&src=dGFtdXdpY3lzQGdtYWlsLmNvbQ&color=%233F51B5&color=%2333B679&color=%23AD1457&color=%23B39DDB&showTitle=0&showPrint=0"
						style="border: solid 1px #777"
						width="800"
						height="600"
					></iframe>
				</div>
			</div>
		</div>
	</div>
</Base>
