---
import Base from "../layouts/Base.astro";
import Title from "../components/Title.astro";
import Paragraph from "../components/Paragraph.astro";
import MailingList from "../components/MailingList.astro";

const links: {
	name: string;
	icon: string;
	href: string;
	flavor: string;
}[] = [
	{
		name: "Our LinkedIn",
		icon: "linkedin-square",
		href: "https://www.linkedin.com/company/texas-a-m-cyber-security-club/",
		flavor: "See our activities posted on our LinkedIn company page!",
	},
	{
		name: "Partnership Guide",
		icon: "map",
		href: "/pdfs/Partnership Guide.pdf",
		flavor: "Information about partnering with our club",
	},
];
---

<Base>
	<Title title="Company Partnership" />

	<Paragraph>
		Our goal as an organization is to provide our members with the
		cybersecurity skills and knowledge necessary for them to become
		effective young cybersecurity professionals and future industry leaders;
		and a big part of the way we aim to do that is through partnerships with
		companies and firms.
		<br /><br />
		We believe that hearing from cyber professionals in all different areas of
		the industry provides our members with unique insights and knowledge that
		can benefit them greatly when deciding where they want to take their career.
		We are always looking for companies to partner and build relationships with
		so if you or your organization are interested in getting involved with our
		organization in any capacity - please reach out to us at <a
			href="mailto:tamucybersec@gmail.com">tamucybersec@gmail.com</a
		>
		<br /><br />
		Below you will find the sign up form for our club's monthly newsletter. This
		is a monthly newsletter designed for companies and firms to stay up to date
		with highlights from our club events and activities.
	</Paragraph>

	<MailingList
		title="TAMU Cybersecurity Club Newsletter"
		description={"Sign up to receive our club's monthly newsletter! This will allow you to stay up to date with highlights from club events and activities."}
		link="https://assets.mailerlite.com/jsonp/45538/forms/54730972249195798/subscribe"
		successMessage={"You have successfully joined the subscriber list for our monthly company newsletter. If you would like to get involved directly with our club feel free to reach out to us at tamucybersec@gmail.com."}
	/>

	<div class="text-center">
		<div
			class="text-white inconsolata-font"
			style="
					display: flex;
                    justify-content: center;
					margin: 30px;
					vertical-align: top;
                    gap: 50px;
				"
		>
			{
				links.map(({ name, icon, href, flavor }) => (
					<div
						style="
						display: inline-block;
						width: 225px;
					"
					>
						<a
							href={href}
							target="_blank"
							class="btn btn-outline-light btn-xl communication-channel-btn"
							style="display: inline-block; margin-bottom: 10px"
							role="button"
						>
							<i class={`fa fa-${icon}`} />
							{name}
						</a>
						<p>{flavor}</p>
					</div>
				))
			}
		</div>
	</div>
</Base>
