---
import Title from "./Title.astro";

import { alumni } from "@/scripts/alumni";
import SocialsList from "./SocialsList.astro";

// make sure to change the table style if you change the number of columns
const columns: string[] = ["Name", "Position", "Graduation"];
---

<div class="container">
	<Title title="Alumni" />
	<div class="col-12 text-center">
		<table class="alumni-table table mx-auto mt-0">
			<thead>
				<tr>
					{
						columns.map((title) => (
							<th
								scope="col"
								style="width: 33.3%"
							>
								{title}
							</th>
						))
					}
				</tr>
			</thead>
			<tbody>
				{
					alumni.map(({ name, position, grad, socials }) => (
						<tr>
							<td>
								<div style="display: inline-block;">{name}</div>
								<div style="display: inline-block;">
									<SocialsList
										{...socials}
										style="text-white"
									/>
								</div>
							</td>
							<td>{position}</td>
							<td>{grad}</td>
						</tr>
					))
				}
			</tbody>
		</table>
	</div>
</div>
