---
const API_URL =
	"https://3qc9d77k52.execute-api.us-east-1.amazonaws.com/prod/contact";

interface Props {
	fallbackEmail: string;
}

const { fallbackEmail } = Astro.props;
---

<div
	class="row justify-content-center"
	style="margin-top: 10px; margin-bottom: 50px;"
>
	<div class="col-sm-9 col-md-8">
		<div
			class="card text-white"
			style="background:#000;"
		>
			<div class="card-body text-right">
				<form
					id="contact-form"
					method="POST"
				>
					<div class="form-row">
						<div class="form-group col-md-6">
							<input
								id="name"
								type="text"
								class="form-control"
								required
								minlength="2"
								placeholder="Full name"
							/>
						</div>
						<div class="form-group col-md-6">
							<input
								id="email"
								type="email"
								class="form-control"
								required
								placeholder="Email address"
							/>
						</div>
						<div class="form-group col-md-12">
							<textarea
								id="msg"
								class="form-control"
								rows="7"
								required
								placeholder="Message"
							></textarea>
						</div>
					</div>
					<button
						id="submit-contact-form"
						type="button"
						class="btn btn-light"
					>
						Submit
					</button>
					<button
						style="display:none;"
						type="submit"
						id="handle-submit"
					>
						Not Shown
					</button>
				</form>
			</div>
		</div>
	</div>
</div>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script is:inline define:vars={{ API_URL, fallbackEmail }}>
	document
		.getElementById("submit-contact-form")
		.addEventListener("click", submitToAPI);

	function submitToAPI() {
		const $contactForm = $("#contact-form");

		// use html5 validation for input fields
		if (!$contactForm[0].checkValidity()) {
			$("#handle-submit").click();
			return;
		}

		let name = $("#name").val();
		let email = $("#email").val().toLowerCase();
		let msg = $("#msg").val();

		const data = {
			name: name,
			email: email,
			msg: msg,
		};

		$.ajax({
			type: "POST",
			url: API_URL,
			dataType: "json",
			crossDomain: "true",
			contentType: "application/json; charset=utf-8",
			data: JSON.stringify(data),

			// using sweet alerts for messages
			success: function () {
				swal(
					"Sent Successfully!",
					"Your message will be reviewed by our team",
					"success"
				).then(function () {
					document.getElementById("contact-form").reset();
					window.location.reload();
				});
			},
			error: function () {
				swal(
					"Error Sending Message!",
					`Please contact ${fallbackEmail} directly`,
					"error"
				);
				return;
			},
		});
	}
</script>
