<div
	class="container-fuild text-white inconsolata-font bg-black"
	id="communication-channels-section"
>
	<div class="row text-center bg-black w-100">
		<div class="col-12 pt-3 pb-2 h3">
			<a
				href="https://discord.gg/nCpZzbB"
				target="_blank"
				class="btn btn-outline-light btn-xl communication-channel-btn"
				role="button"
			>
				<i class="fab fa-discord"></i>
				Join
			</a>
			<i class="text-arrow fas fa-long-arrow-alt-left"></i> Join our official
			Discord server
		</div>
	</div>
</div>
