---
import Title from "./Title.astro";
import Subtitle from "./Subtitle.astro";
import Accordion, { type AccordionProps } from "./Accordion.astro";

import ncl from "../images/events/ncl-logo-opt.png";
import tamu from "../images/home/TAMUCTF_cmaroon.png";
import ccdc from "../images/events/sw-ccdc-logo-opt.png";
import cyberforce from "../images/events/cyber-force-logo.png";
import mitre from "../images/events/mitre-ectf-opt.png";

const general: AccordionProps = [
	{
		title: "Cyber Center Cyber Leader Development Program",
		links: [
			{
				link: "https://cybersecurity.tamu.edu/education/cldp/",
				linkText: "Information Page",
			},
		],
		body: "The Department of Defense (DoD) has partnered with Texas A&M University to establish the Cyber Leader Development Program (CLDP), which is a program that prepares select students for military or civilian careers with Department of Defense organizations. The CLDP is a two-year program that complements a student's existing degree path by providing opportunities for hands-on experience, industry certifications, summer internships, leadership development, and individual mentoring. CLDP generally accepts new members from among rising Juniors, but Sophomores and Seniors are eligible for the program as well.",
	},
	{
		title: "Cybersecurity Apprenticeship Program",
		links: [
			{
				link: "https://it.tamu.edu/security/cybersecurity-apprenticeship-program/application.php",
				linkText: "Application Page",
			},
		],
		body: "The Cybersecurity Apprenticeship Program (CAP) bridges the gap by putting talented Texas A&M University students in positions to work on cybersecurity teams in industry-leading companies. CAP was created by the Texas A&M cybersecurity team in partnership with global organizations. Students have the opportunity to earn industry certifications and learn relevant skills necessary for success in the cybersecurity industry.",
	},
];

const competitions: AccordionProps = [
	{
		title: "NCL (Red & Blue Team)",
		image: ncl.src,
		links: [
			{
				link: "https://cyberskyline.com/events/ncl/info",
				linkText: "Information Page",
			},
			{
				link: "https://docs.google.com/forms/d/e/1FAIpQLSe6VfYy26ETUiUWh-KW91h1iVfpAayM6KaBS0Kkx7-UkoDgxw/viewform",
				linkText: "Interest Form",
			},
		],
		body: "The National Cyber League (NCL) is a great CTF competition for students who have never competed in a CTF competition or have found other CTFs too challenging. The competition lasts around one month and consists of a preseason, individual game, and team game. There's also a gymnasium where students can train fundamental skills from the ground up and learn about essential tools before the competition.",
	},
	{
		title: "TAMUctf (Red & Blue Team)",
		image: tamu.src,
		links: [
			{
				link: "https://cybersecurity.tamu.edu/event/tamuctf/",
				linkText: "Information Page",
			},
			{
				link: "https://docs.google.com/forms/d/e/1FAIpQLSfUGDqJe3BGQIEn-K8Wz9UnVLvgY-T1cF4w8Mw8VKVkCqZP7A/viewform",
				linkText: "Developer Interest Form",
			},
		],
		body: "TAMUctf is an annual jeopardy-style capture the flag competition hosted by Texas A&M. If you have any ideas for cool CTF challenges or just want to see what happens on the other side of CTFs, try becoming a TAMUctf challenge developer!",
	},
	{
		title: "CCDC (Blue Team)",
		image: ccdc.src,
		links: [
			{
				link: "https://www.nationalccdc.org/",
				linkText: "National Competition Page",
			},
			{
				link: "https://southwestccdc.com/about/",
				linkText: "Regional Competition Page",
			},
			{
				link: "https://docs.google.com/forms/d/e/1FAIpQLSe2QDZ6l-kyyisJgKCYqjA_hdGUv84s-pIW_AOgDWVA2WbADA/viewform",
				linkText: "Interest Form",
			},
		],
		body: "The Collegiate Cyber Defense Competition (CCDC) asks student teams to assume administrative and protective duties for an existing “commercial” network - typically a small company with 50+ users, 7 to 10 servers, and common Internet services such as a web server, mail server, and e-commerce site. This competition is held in the spring semester, though we will conduct several practices during the fall semester and develop procedures and tooling as necessary.",
	},
	{
		title: "CyberForce (Blue Team)",
		image: cyberforce.src,
		links: [
			{
				link: "https://cyberforcecompetition.com/",
				linkText: "Competition Page",
			},
			{
				link: "https://forms.gle/DsjqXK6XZLKs9P1EA",
				linkText: "Interest Form",
			},
		],
		body: "CyberForce is a cybersecurity competition hosted by the US Department of Energy that revolves around performing hardening and security tasks within a given scenario.",
	},
	{
		title: "Hivestorm (Blue Team)",
		links: [
			{
				link: "https://www.hivestorm.org/",
				linkText: "Competition Page",
			},
			{
				link: "https://forms.gle/WWsouPHt92o7VbkS9",
				linkText: "Interest Form",
			},
		],
		body: "Hivestorm is a collegiate-focused cyber defense competition. Teams compete by securing provided Windows and Linux based virtual machines - removing malware and other infections, correcting misconfigurations, mitigating vulnerabilities, disabling vulnerable services, and so on. Teams accumulate points for addressing each scored issue and must race against the clock to accumulate as many points as they can before time expires.",
	},
	{
		title: "MITRE eCTF (Embedded)",
		image: mitre.src,
		links: [
			{
				link: "https://mitrecyberacademy.org/competitions/embedded/",
				linkText: "Information Page",
			},
		],
		body: "MITRE eCTF is an embedded security competition with two phases. In the defense phase, each team creates their own secure embedded system based on challenge requirements. In phase two, teams analyze and attack other teams' embedded systems.",
	},
	{
		title: "Fall CTF (In-House CTF)",
		body: "Each fall, we host our own in-house CTF for beginners to get their first exposure to cybersecurity competitions! This year, it is scheduled on September 30th, but please refer to our calendar and Discord server for the most up to date details on time and location. This CTF is 100% developed by leaders/members of our club and is specifically designed to be BEGINNER FRIENDLY but also enjoyable for experienced competitors. So, whether this is your 1st CTF or your 100th - this event is for you! There will be food, snacks, and drinks provided, there will be prizes for the winning teams, and there will be raffles held throughout the day!",
	},
];
---

<div
	class="container-fluid text-center"
	style="position: relative"
>
	<Title title="Events & Competitions" />

	<Subtitle subtitle="General" />
	<Accordion accordions={general} />

	<Subtitle subtitle="Competitions" />
	<Accordion accordions={competitions} />
</div>
