---
interface Props {
	link: string;
	height: number;
}

const { link, height } = Astro.props;
---

<div class="container">
	<div class="row">
		<div
			class="col-1"
			style="text-align: left"
		>
			<a
				href="/forms.html"
				style="font-size: 1.5rem"
				>&#8592 All Forms</a
			>
		</div>
		<div
			class="col-11"
			style="text-align: center"
		>
			<iframe
				src={link}
				width="640"
				height={height}
				>Loading…</iframe
			>
		</div>
	</div>
</div>
