---
import whiteShieldAnimated from "../images/club-logos/white-shield-animated.gif";
---

<!-- Landing Page Background w/ Particles JS -->
<div
	id="particles-js"
	class="landing"
>
</div>

<!-- Under construction due to Astro move -->
<!-- <script src="../scripts/particles.min.js"></script>
<script>
	particlesJS.load(
		"particles-js",
		"../scripts/particles.json",
		function () {}
	);
</script> -->

<!-- Title -->
<div class="caption text-center text-white text-uppercase">
	<div class="fadeInDown animated">
		<div id="home-title">
			<h1 class="white-faded-shadow animated">Texas A&amp;M</h1>
		</div>
		<div id="home-title-caption">
			<h3 class="white-faded-shadow">Cybersecurity Club</h3>
		</div>
		<div class="animated fadeInDown">
			<a href="#features">
				<img
					style="max-width: 150px"
					class="img-fluid"
					src={whiteShieldAnimated.src}
					alt="Features"
				/>
			</a>
		</div>
	</div>
</div>

<!-- Description -->
<div
	id="features"
	class="offset container-fluid bg-black"
>
	<div class="row text-center text-white justify-content-center">
		<div
			class="col-lg-10 col-xl-9"
			style="max-width: 100vw"
		>
			<div
				class="title-underline"
				style="margin: 1rem auto 1rem"
			>
			</div>
			<h4
				id="club-description"
				class="inconsolata-font text-center"
				style="margin-bottom: 1.5rem"
			>
				Texas A&amp;M Cybersecurity Club is an organization for people
				interested in learning practical skills and knowledge in
				cybersecurity. Members of any skill level are welcome and there
				are NO dues or applications required to join.
			</h4>
		</div>
	</div>
</div>
