---
// TODO - fix the cursed centering strategy and centered text ugliness
---

<h4
	class="inconsolata-font text-center text-white"
	style="
        margin-bottom: 2rem;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    "
>
	<slot />
</h4>
