---
interface Props {
	subtitle: string;
}

const { subtitle } = Astro.props;
---

<div class="container">
	<div class="row text-center justify-content-center">
		<div class="col-lg-10 col-xl-9">
			<h2
				class="text-white inconsolata-font subtitle text-decoration-underline"
			>
				{subtitle}
			</h2>
		</div>
	</div>
</div>
