---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<div class="row mb-3 text-center">
	<div class="col-12">
		<h1
			class="text-white inconsolata-font maroon-underline"
			style="letter-spacing: 0.5px"
		>
			{title}
		</h1>
	</div>
</div>
