---
import wicysLogo from "../images/programs/wicys/wicys.png";
---

<!-- Title -->
<div
	id="topics-covered-title"
	class="container mt-4"
>
	<div class="row text-center justify-content-center">
		<div class="col-lg-10 col-xl-9">
			<h1 class="text-white inconsolata-font">WiCyS</h1>
			<div class="title-underline"></div>
		</div>
	</div>
</div>

<!-- Logo -->
<div
	id="topics-section"
	class="container inconsolata-font"
>
	<div
		class="os-animation"
		data-animation="fadeInLeft"
		data-delay="0s"
	>
		<div class="row d-flex justify-content-center text-center">
			<div class="mb-3">
				<div
					class="row d-flex flex-column align-items-center justify-content-center"
				>
					<div class="p-0">
						<div class="mx-auto animated fadeIn">
							<a href="/wicys/">
								<div class="card events card-partners-middle">
									<div class="card-partners-img">
										<img
											src={wicysLogo.src}
											width="150px"
											alt="Women in Cybersecurity"
										/>
									</div>
								</div>
							</a>
						</div>
					</div>
					<div
						class="p-0"
						style="max-width: 500px"
					>
						<h4 class="text-white">
							Texas A&M Women in Cybersecurity: Contributing to
							the Recruitment, Retention, and Advancement of Women
							in Cybersecurity.
						</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- WiCyS -->
<div
	class="container-fuild text-white inconsolata-font bg-black"
	id="communication-channels-section"
>
	<div class="row text-center bg-black w-100">
		<div class="col-12 pt-3 pb-2 h3">
			<a
				href="/wicys.html"
				class="btn btn-outline-light btn-xl communication-channel-btn"
				role="button"
			>
				More About WICYS
			</a>
		</div>
	</div>
</div>
