/* Utility and variant classes */
/* How @utility works: https://tailwindcss.com/docs/adding-custom-styles#adding-custom-utilities */

@custom-variant dark (&:is(.dark *));

@utility text-balance {
	text-wrap: balance;
}
